<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script type="text/js" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block linkScript %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/display.css">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
  </head>
  <body>
    {% block content %}
    <button class="ui inverted green button">START</button>
    {% endblock %}
  </body>
<html>