body {
  background-image:url(https://www.bestfunforall.com/better/imgs/London%202012%20Olympics%20HD%20wallpaper%20%205.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Acme', sans-serif;
  background-attachment: fixed;
}